<!DOCTYPE html>
<!---This is an HTML document--->
<html><head>
  <title>Caitlin's Notes</title>
  <link rel="stylesheet" href="caitlin-style.css">
</head>
<body>
  <div class="TOC">
    <h1><b>Table of Contents</b></h1>
    <ol>
      <li><a href="#lesson-1">Lesson 1: The Basics of the Web and HTML</a>
        <ul>
          <li><a href="#lesson-1">The World Wide Web</a></li>
          <li><a href="#lesson-1">HTML</a></li>
          <li><a href="#lesson-1">Tags and Elements</a></li>
          <li><a href="#lesson-1">Inline and Block Elements</a></li>
        </ul>
      </li>
      <li class="TOC-lesson"><a href="#lesson-2">Lesson 2: Creating a Structured Document with HTML</a>
        <ul>
          <li><a href="#lesson-2">Important Concepts</a></li>
          <li><a href="#lesson-2">HTML's "tree-like" Structure</a></li>
          <li><a href="#lesson-2">Text Editors</a></li>
        </ul>
      </li>
      <li class="TOC-lesson"><a href="#lesson-3">Lesson 3: Adding CSS Style to HTML Structure</a>
        <ul>
          <li><a href="#lesson-3">Avoiding Repetition</a></li>
          <li><a href="#lesson-3">CSS and How it Works</a></li>
        </ul>
      </li>
    </ol>
  </div>
 <div>
 <h1><b>Lesson 1: The Basics of The Web and HTML</b></h1>
  </div>
  <div>
  <h2><b>The World Wide Web</b> </h2>
    </div> 
    <div>
    <p>The world wide web is a make up of HTML documents. 
    <br>Each computer browser comunicates with servers through a 
     <br>protocol called HTTP or Hypertext Transfer Protocol. HTTP
     <br>is used by computers to communicate across the world wide web. 
     <br><a href="https://www.udacity.com/course/
   viewer#!/c-ud721/l-3508959201/e-48329854/m-48480496">This video</a>
 breaks down the process of communication between 
 <br>browsers and servers in an easy to understand fashion. </p> 
<br>
</div>
  <div>
  <h2><b>HTML</b></h2>
 <p>HTML means Hypertext Markup language. HTML is made up of 
 <br>text content ("what you see"), mark up 
 ("what it looks like"), 
 <br>references to other  documents (such as images or videos),
 <br>and links to other pages. <a href="https://www.udacity.com/course/viewer#!/c-ud721/l-3508959201/m-48724340">Click here</a> to see a reference 
   to HTML.
 </p>
 </div>
 <div>
  <H2><b>Tags and Elements </b></h2>
 <p>HTML markup is made up of tags. Tags are like keywords that tell <br> a web page how to show content. HTML documents are
   <br> made up of HTML <b>elements</b>. An element is everything from the 
   <br>opening tag to the closing tag. <a href="https://www.udacity.com/course/
   viewer#!/c-ud721/l-3508959201/m-48723444"> Here </a> is a good example of tags and elements.
 </p>
 </div>
 <div>
 <h2><b>Inline and Block Elements</b></h2>
 
 <p>An <b>Inline</b> element is an element that takes up only the space needed.
   <br>A <b>Block</b> element creates a sort of invisible box around the text that is 
   <br>being tagged. An example of
   a block element is the P tag, or paragraph tag, 
   <br>which creates a space before and after the text that is written.
 </p>
 </div>
 <div>
     <h1><b> Lesson 2: Creating a Structured Document With HTML </b>    </h1>
 </div>
 <div>
 <h2><b>Important Concepts</b></h2>
 <ul>
 <li>HTML and CSS are both languages.</li>
 <li>HTML controls the structure of a webpage.</li>
 <li>CSS controls the style of a page.</li>
 <li>When programmers talk about the "DOM" or Document Object Model,
 <br>they are talking about the tree-like structure of a page</li>
 <li>HTML consists of boxes. All of your content will be inside of
 <br> a box. We us the div tag to seperate our boxes.</li>
 </ul>
 </div>
 
  <div>
  <h2><b> Tree-Like Structure</b></h2>
    <div><p>HTML is made up of a tree like structure or a branching structure consisting of
     <br> opening and closing tags. For example you have a div tag which seperates all of 
     <br> your boxes that contain your content. Then you have your header and p (paragraph) tag 
     <br>branching off of your div tag. Within your header tag you have   your text. Within your p tag 
     <br> you have your text, img (image) tag, and so on.
    </div>
    <div>
    <h2><b>Text Editors</b></h2>
    </div>
      <div>
      <p> Text editors are used by programmers to write HTML documents and other code.
</div>
 <div>
   <h1><b>Lesson 3: Adding CSS Style and HTML Structure</b></h1>
   </div>
     <div><h2>Avoiding Repition</h2>
     </div>
       <div>
       <p>Avoiding repition is important in all aspects of programming. It is very important when writing CSS code because you don't want to have to copy and paste for every area of your web page to make the style look the same.</p>
       </div>
     <div><h2>CSS and How it Works</h2>
     </div>
       <div>
         <p>CSS stands for <b>Cascading Style Sheets.</b> CSS is code written to control the "style of HTML.
         <br>One of the key features in CSS is <b>inheritance</b>. Inheritance depends on the tree-
         <br> like structure of HTML. Elements within HTML inherit text-like properties such as color, fomt, text-indent, 
         <br> letter spacing, etc. To make a font bold in CSS you select font-weight. Whatever style you put in CSS should reflect on your html document. A <b> selector</b> defines what a specific HTML tag will apply to.
         </div>  
 </html>